treechildren[zebra="true"]::-moz-tree-row(odd) {
	background-color: whitesmoke;
}
treechildren::-moz-tree-row(selected) {
	/* old:#3399FF; dodgerblue = #1E90FF*/
	background-color: dodgerblue !important;
}
treechildren::-moz-tree-row(container) {
	background-color: lightgrey !important;
	border: 1px solid darkgrey;
}
treechildren::-moz-tree-row(container, selected) {
	background-color: blue !important;
	border: 1px solid darkblue;
}
treechildren::-moz-tree-cell-text(selected) {
	font-weight: bold;
	color: white;
}
treechildren::-moz-tree-line {
	visibility: visible;
}