treechildren::-moz-tree-row {
	height: 150px;
}
treechildren::-moz-tree-row(odd) {
	background-color: #F0F0F0;
}
treechildren::-moz-tree-row(checked) { 
	background-color: #FFFFAA; 
}
treechildren::-moz-tree-row(odd, checked) {
	background-color: #F0F0A0;
}
treechildren::-moz-tree-row(selected) { 
	background-color: #3399FF; 
}
treechildren::-moz-tree-checkbox {
	/* unchecked checkbox treecells. This style MUST come before treechildren::-moz-tree-checkbox(checked) otherwise it won't take effect. */
	list-style-image: url("chrome://imagegrabber/skin/images/cb_unchecked.gif");
}
treechildren::-moz-tree-checkbox(checked) {
	/* checked checkbox treecells */
	list-style-image: url("chrome://imagegrabber/skin/images/cb_checked.gif");
}
treechildren::-moz-tree-checkbox(disabled) {
	/* disabled checkbox treecells */
	list-style-image: none;
}
treechildren::-moz-tree-cell-text(selected) {
	font-weight: bold;
	color: #FFFFFF; 
} 
treechildren::-moz-tree-image {
	height: 150px;
}
